.container.header{
  background-image: url("/colorful-confetti-over-dark-background-confetti.jpg");
  background-color: #000000;
  color: #fff;
  font-family: sans-serif;
  /* text-align: center; */
  width: 100%;
  
}
.h1{
  font-size: 30px;
  text-align: center;
  

}

.h2 {
  font-size: 20px;
  text-align: center;
}

